<label for="burger-check" class="burger-wrap">
	<span class="burger-text">menu</span>
	<span class="burger">
		<span class="burger-spin view-one"></span>
		<span class="burger-spin view-two"></span>
		<span class="burger-spin view-three"></span>
	</span>
</label>
