
<fieldset class="form-fieldset">
	<span class="form-label">{$input[pm_label]}</span>
	<label for="{$name}[{$iterator->getCounter()}]" class="form-checkbox" n:foreach="$input[pm_options] as $option">
		<input id="{$name}[{$iterator->getCounter()}]" value="{$option[pm_value]}" name="{$name}" type="radio">
		{$option[pm_value]}
	</label>
</fieldset>
