<fieldset class="form-fieldset floating">
	<input id="{$name}" name="{$name}" type="text" class="form-input floating-input" {if $input[message]}required{/if}>
	<label for="{$name}" class="form-floating floating-label">{$input[pm_label]}</label>
</fieldset>
