<fieldset class="form-fieldset">
	<label for="{$name}" class="form-label">{$input[pm_label]}</label>
	<input id="{$name}" name="{$name}" type="text" class="form-input" {if $input[message]}required{/if}>
</fieldset>
