<fieldset class="form-fieldset floating">
	<textarea id="{$name}" name="{$name}" class="form-input form-area floating-input" {if $input[message]}required{/if}></textarea>
	<label for="{$name}" class="form-floating floating-label">{$input[pm_label]}</label>
</fieldset>
