extends layouts/default

block content
  | <?php
  | $args = array(
  |   'post_type'  => 'events',
  |   'numberposts'     => -1,
  |   'order' => 'ASC',
  |   'meta_query' => array(
  |       array(
  |           'key'     => 'pm_end_date',
  |           'value'   => current_time( 'Y-m-d H:i' ),
  |           'compare' => '>',
  |       )
  |   )
  | );
  | $events = get_posts($args);
  | $event = $events[0];
  | $start = strtotime(get_post_meta($event->ID, 'pm_start_date', true));
  | $end = strtotime(get_post_meta($event->ID, 'pm_end_date', true));
  | if (date('dmy', $start) == date('dmy', $end)) {
  |     $date = date('j. n. Y', $start);
  | } else {
  |   if(date('m', $start) == date('m', $end)){
  |     $date = date('j.', $start) . '–' . date('j. n. Y', $end);
  |   } else {
  |     $date = date('j. n.', $start) . '–' . date('j. n. Y', $end);
  |   }
  | }
  | ?>

  main.col-sm-9.col-md-6.invitation.main
    .invitation__image.invitation__image--empty.box
      h1.invitation__subtitle='Stránka, kterou hledáte tu není…'
      p.invitation__text='Možná hledáte informaca o naší další akci:'
      h2.invitation__title
        a(href='/')=$event->post_title
      p.invitation__text=$date
      p.invitation__text.text.text--hight
        ='určitě nic nezkazíš, když budeš sledovat náš '
        a(href='https://www.facebook.com/podebradskamladez/', target='_blank')='facebook'