extends layouts/default

block content
  main.som.col-md-10.col-sm-9

    | <?php
    | $args = array(
    |   'order' => 'ASC',
    |   'post_type'  => 'events',
    |   'order'      => 'DESC',
    |   'meta_query' => array(
    |       array(
    |           'key'     => 'pm_end_date',
    |           'value'   => current_time( 'Y-m-d H:i' ),
    |           'compare' => '<',
    |       )
    |   )
    | ); ?>

    - query_posts($args)
    - if ( have_posts() ):
    - while ( have_posts() ):
    - the_post();
      | <?php
      | $start = strtotime(get_post_meta(get_the_ID(), 'pm_start_date', true));
      | $end = strtotime(get_post_meta(get_the_ID(), 'pm_end_date', true));
      | if (date('dmy', $start) == date('dmy', $end)) {
      |     $date = date('j. n. Y', $start);
      | } else {
      |   if(date('m', $start) == date('m', $end)){
      |     $date = date('j.', $start) . '–' . date('j. n. Y', $end);
      |   } else {
      |     $date = date('j. n.', $start) . '–' . date('j. n. Y', $end);
      |   }
      | }
      | ?>
      article.person
          figure.person-image.col-md-3
              - the_post_thumbnail('blog', array('class' => 'img-responsive box'))
          .person-content.col-md-9
              h1.person-title=the_title()
              h2=$date
    - endwhile;
    - else:
      div='Nic zde není...'
    - endif