extends layouts/default

block content
  | <?php
  | $args = array(
  |   'post_type'  => 'events',
  |   'offset'     => 0,
  |   'order' => 'ASC',
  |   'meta_query' => array(
  |       array(
  |           'key'     => 'pm_end_date',
  |           'value'   => current_time( 'Y-m-d H:i' ),
  |           'compare' => '<',
  |       )
  |   )
  | ); ?>
  .invitation
    - if ($events = get_posts($args)):
      .col-md-5
        - $i = 0
        - foreach($events as $item):
          - $i++
          - if(($i % 2) == 0):
            - continue
          - else :
            a(href=$item->the_permalink)
              - echo get_the_post_thumbnail($event, 'blog', array('class' => 'img-responsive'))
          - endif
        - endwhile

      .col-md-5
        - $i = 0
        - foreach($events as $item):
          - $i++
          - if(($i % 2) !== 0):
            - continue
          - else:
            a(href=$item->the_permalink)
              - echo get_the_post_thumbnail($event, 'blog', array('class' => 'img-responsive'))
          - endif;
        - endwhile
    - else:
      div='Nic zde není...'
    - endif