extends layouts/default

block content
  - if ( have_posts() ) :
    | <?php
    | $args = array(
    |   'post_type'  => 'events',
    |   'offset'     => 0,
    |   'order' => 'ASC',
    |   'meta_query' => array(
    |       array(
    |           'key'     => 'pm_end_date',
    |           'value'   => date( 'Y-m-d h:m' ),
    |           'compare' => '>',
    |       )
    |   )
    | ); ?>
  - $events = get_posts($args)
  - $event = $events[0]

  .col-md-5.invitation
    .invitation__image
      a.invitation__link(href='<?php echo $event->the_permalink ?>')
        - echo get_the_post_thumbnail($event, 'blog', array('class' => 'img-responsive'))
    .invitation__text.text
      = $event -> post_content
  .col-md-4
    .map
      - $map_post_id = get_post_meta($event->ID,'pm_position',true)
      - echo get_post_meta($map_post_id, 'pm_position', true)
  .col-md-5
  .col-md-5
    .calendar
      p.calendar__popis='popisDalší akce:'
      table.calendar__table
        tbody
        - foreach (array_slice($events, 1) as $item ):
        | <?php
        | $start = strtotime(get_post_meta($item->ID, 'pm_start_date', true));
        | $end = strtotime(get_post_meta($item->ID, 'pm_end_date', true));
        | if(date('m', $start) == date('m', $end)){
        |   $date = date('j.', $start) . ' - ' . date('j. n. Y', $end);
        | } else {
        |   $date = date('j. n.', $start) . ' - ' . date('j. n. Y', $end);
        | }
        | ?>
        tr
          td.calendar__name=$item->post_title
          td.calendar__date=$date
        - endforeach
  - endif
  - wp_reset_query()

