.article
	&-header
		margin-bottom 1rem

	&-title
		color $brand
		font-size 3.5rem
		margin-top 0
		margin-bottom 0

	&-subtitle
		margin-bottom 0.5em

	&-hashtags
		line-height 1em

	&-invitation
		width 100%
		height auto

	h3
		margin-top 0
		margin-bottom 0.2em

	p
		margin-top 0
		margin-bottom 2em

