.burger
	display none

	&-check
		display none

	@media $breakM.m
		display block
		position relative
		padding 10px 20px
		margin-left auto
		margin-right @margin-left
		size 2rem 20px

		&-spin
			display block
			absolute left 0 right 0
			size 100% 3px
			border-radius 1.5rem
			background-color $brand
			transition opacity 500ms, transform 300ms, top 300ms, bottom 300ms

			&.view-one
				top 0

			&.view-two
				top calc(50% - 1.5px)

			&.view-three
				bottom 0

		&-nav
			transition right 300ms, left 300ms


		&-container
			fixed top 0 left 100vw
			z-index 60
			size 80vw 100vh
			padding-top 50px
			box-shadow 0 2px 4px 0 rgba(0,0,0,0.08)
			transition left 300ms


		&-check:checked ~ .container
			right 80vw

			.burger
				&-spin
					&.view-one
						top calc(50% - 1.5px)
						transform rotate(-45deg)

					&.view-two
						opacity 0

					&.view-three
						bottom calc(50% - 1.5px)
						transform rotate(45deg)

				&-container
					left 20vw

				&-nav
					left -80vw
