.button
	display block
	background-color $brand
	color $blank
	text-align center
	width 100%
	margin 0.2rem 0
	padding 0.1em 1em
	border-radius $radius
	transition background-color 500ms, box-shadow 500ms, color 500ms, border-color 500ms
	text-decoration none

	&:hover
		color $blank
		background $black
		box-shadow 0 0 0.4em 0.2em #c3c3c3

	&:visited
		color $blank

	&-caption
		display block
		font-size 0.8rem


	&-title
		display block
		font-size 1.2rem

	&-icon
		margin-right 0.6em

	&.view-call
		background-color $messenger

		&:hover
			color $blank
			background $brand

	&.view-light
		background-color $transparent-box
		color $gray
		font-size 0.7rem
		border solid 1px $light-gray
		width auto
		clear both
		margin 0.6em -1em -0.4em

		&:hover
			background-color $blank
			color $black
			border-color $gray
			box-shadow $box-shadow

	&.view-ghost
		color $brand
		background-color $blank
		border 1px solid $brand

	&.view-inline
		display inline-block
		width auto
		padding-right 1em
		padding-left @padding-right

	&.view-thin
		font-size 0.8rem
