.form
	padding 20px
	margin 0

	&-input
		display block
		width 100%
		border-radius $radius
		margin 0.2em 0 1em
		padding 0.2em 0.7em
		border solid 1px $light-gray

		&:focus
			outline solid 2px $brand

	&-label
		display block
		font-size 0.8rem
		color $gray

	&-button
		display block
		appearance none
		background-color $brand
		color $blank
		margin 0.2em auto
		padding 0.2em 1em
		border none
		border-radius 5px
		transition background 300ms

		&:hover
			background-color $gray

	&-error
		display block
		font-size 0.8rem
		color $error
		width 100%
		margin 0.2em 0

	&-message
		display block
		text-align center
		margin 1rem
		padding 1rem 0.5rem

		&.view-success
			background-color fade($brand, 10)
			color $brand
			border solid 1px $brand

		&.view-error
			background-color fade($error, 10)
			color $error
			border solid 1px $error

	&-late
		color $brand
		font-size 1.2rem
		text-align center
		padding 1rem
		border solid 1px $brand


	&-text
		color $brand
		font-size 0.8rem
		margin 20px 0 0.2em

		&.view-center
			text-align center
			margin 1em 0

	&.view-border
		border solid $brand 1px
