.form
	position relative
	padding 0.9rem 1rem 0.6rem
	margin 0 0 20px

	&.view-idos
		padding 0
		background-color transparent

	&-container
		max-width 15rem
		background-color #fff
		border-radius $radius

	&-input
		display block
		font-size 0.9rem
		width 100%
		border-radius $radius
		margin 0
		padding 0.4em 0.7em 0.4em
		border solid 1px $light-gray
		background-color rgba(255, 255, 255, 0.4)
		transition background 300ms, border 300ms

		&:hover
			border-color $black
			box-shadow $box-shadow

		&:focus
			outline none
			border-color $brand
			background-color $blank

		&:valid
		&.is-filled
			background-color $blank

	&-label
		display block
		color $brand
		font-size 0.8rem

	&-add-symbol
		absolute top 0 right 0
		size 2rem 100%
		display flex
		justify-content center
		align-items center
		cursor pointer
		border-radius  0 $radius $radius 0
		border solid 1px transparent
		border-left-color $light-gray
		color $text-color-light
		transition color 300ms

		&:hover
			color $brand


	&-button
		display block
		appearance none
		background-color $brand
		color $blank
		margin 0.2em auto
		padding 0.2em 1em
		border none
		border-radius 5px
		transition background 300ms

		.icon
			transition transform 300ms

		&:hover
			background-color $gray

			.icon
				transform translateX(5px)

	&-error
		display block
		font-size 0.5rem
		color $error
		width 100%
		min-height 0.8rem
		margin 0.2em 0

	&-message
		display block
		text-align center
		margin 1rem
		padding 1rem 0.5rem

		&.view-success
			background-color fade($brand, 10)
			color $brand
			border solid 1px $brand

		&.view-error
			background-color fade($error, 10)
			color $error
			border solid 1px $error

	&-late
		color $brand
		font-size 1.2rem
		text-align center
		padding 1rem
		border solid 1px $brand


	&-text
		color gray
		font-size 0.7rem

		&.view-center
			text-align center
			margin 1em 0

		&.view-in
			margin 0

	&-checkbox
		display flex
		font-size 0.7rem
		margin 0.5em 0.4em
		line-height 1em

		input
			margin-right 0.6em

	&-fieldset
		margin-bottom 1rem

	&-inline
		position relative

		&-input
			position relative
			width 85%
			margin 0.2em 0 1em
			padding 0.2em 0.7em
			border-radius $radius
			border solid 1px $light-gray
			background-color rgba(255, 255, 255, 0.7)
			transition background 300ms, border 300ms, box-shadow 300ms

			&:hover
				border-color $black
				box-shadow $box-shadow

			&:focus
				border-color $brand
				outline none
				background-color $blank

			&:valid
			&.is-filled
				background-color $blank

		&-button
			absolute right 0 top 0
			display inline-block
			appearance none
			size 25% 100%
			background-color $brand
			color $blank
			border solid 1px $brand
			border-radius  0 $radius $radius 0
			transition background 300ms, color 300ms, border 300ms

			&:hover
				background $black
				color $blank
				text-decoration underline
				border-color $black

	&-loader
		display none
		absolute top 0 right 0 bottom 0 left 0
		size 100%
		background-color rgba(255, 255, 255, 0.9)

		&:after
			content ''
			display block
			background url(../images/loader.svg) center center / contain no-repeat
			size 3rem
			absolute top 50% left 50%
			transform translate(-50%, -50%)

		&-content
			display none
			absolute top 50% left 50%
			transform translate(-50%, -50%)

		&-message
			color $brand
			font-weight bold
			text-align center

	.is-in-process &
		&-loader
			display block

	.is-success &
		&-loader
			display block

			&:after
				display none

			&-content
				display block
