.gallery
	margin-left -0.2rem
	margin-right @margin-left

	&-text
		margin 0.2em 0

	&-title
		color $brand
		margin 0.2em 0 0.2em

	&-item
		float left
		width 100%
		padding 0.2rem

		&-content
			position relative
			padding-bottom (100%*2/3)

		&-img
			absolute top 0 right 0 bottom 0 left 0
			width 100%
			height 100%
			border-radius $radius
			object-fit cover

	@media $break.s
		&-item
			width (100%/3)

			&.view-large
				width (100%*2/3)

			.view-large &
				&-content
					padding-bottom calc((100%*2/3) + 0.1rem)

			&.view-right
				float right

			.view-right &
				&-content
					padding-bottom calc((100%*2/3) + 0.2rem)

