.navline
	absolute top 0 right 0 left 0

	&-list
		margin-top 0

	&-item
		display inline-block
		margin-right 0.6em

		&:last-of-type
			float right

	&-link
		color $blank
		background-color $brand
		text-decoration none

		&:hover
			text-decoration underline

	&-icon
		margin-right 0.2em
