.post-thumb
	margin-bottom 1rem

	&:after
		content ''
		display block
		clear both

	&-image
		margin-bottom 1rem

		img
			max-width 100%
			width 100%
			height auto
			margin 0

	&-subtitle
		margin 0

	&-hashtags
		max-width 27rem

	@media $break.s
		&-image
			float left
			margin-right 1rem
			margin-bottom 0.5rem
			width 35%
			min-height 1rem

			img
				max-width 100%
