.single
	&-image
		background-size cover
		background-position center center
		background-repeat no-repeat
		height 150px


	&-fbimage
		size 100% auto

	&-title
		margin 0
		color $brand


	&-date
		font-size 1.2rem
		margin-top 0
