.floating
	position relative

	&-input
		padding 0.7em 0.7em 0.1em

		&:focus
		&:valid
		&.is-filled
			& + label
				top 2px
				transform none
				color $brand
				font-size 0.6rem

	&-label
		absolute top 50% left 1em
		margin 0
		transform translateY(-50%)
		transition top 300ms, transform 300ms, font-size 300ms, margin 300ms, color 300ms
		cursor text
