#
# Hide wysiwyg editor & thumbnail for custom templates
#

hide:
	editor:
		templates:
			- front-page
			- template-registerlist
	thumbnail:
		templates:
			- front-page
			- template-registerlist
			- template-2048
