#
# Requires MetaBox plugin: http://metabox.io/
#

prefix: pm_

register:
	one:
		title: Data
		context: normal
		post_types: events
		fields:
			start_date:
				name: Začátek
				type: datetime
			end_date:
				name: Konec
				type: datetime
			position:
				name: Mapa
				type: post
				post_type: maps
				placeholder: Vyber místo

	two:
		title: Přihlašování
		post_types: events
		fields:
			register_to:
				name: Uzávěrka
				type: date
			show_additional_fields:
				name: Další pole
				type: switch
				std: false
			additional_fields:
				type: repeater
				add_button: Přidat pole
				visible: [show_additional_fields, true]
				fields:
					label:
						name: popisek
					type:
						name: typ
						type: button_group
						std: text
						options:
							text: '<span class="dashicons dashicons-editor-textcolor"></span> text'
							textarea: '<span class="dashicons dashicons-text"></span> area'
							radio: '<span class="dashicons dashicons-marker"></span> radio'
							checkboxlist: '<span class="dashicons dashicons-yes"></span> checks'
					options:
						name: Možnosti
						type: repeater
						desc: Pouze u radio a checkboxlistu.
						add_button: Přidat možnost
						visible: ['pm_type', in, [radio, checkboxlist]]
						fields:
							value:
								type: text


	three:
		title: Kronika
		post_types: events
		fields:
			hashtag:
				name: 'Facebook hashtag'
				type: text
			google_photos_album:
				name: Fotky google album
			article:
				name: Zápis
				type: wysiwyg
			images:
				name: Fotky
				type: image_upload

	four:
		title: Mapa
		post_types: maps
		fields:
			position:
				name: Mapa
				type: textarea

	five:
		title: Pozice
		context: side
		post_types: som
		fields:
			position:
				type: radio
				inline: false
				options:
					chairman: předseda
					vice-chairman: místopředseda
					member: člen
					ex-member: bývalý člen

	fb-settings:
		title: Facebook API
		settings_pages:
			- fb-settings
		fields:
			fb_app_id:
				name: App ID
			fb_app_secret:
				name: App Secret
			fb_page_id:
				name: Page ID
			fb_access_token:
				name: Access Token

	site-background:
		title: Pozadí stránky
		settings_pages:
			- appearance-settings
		fields:
			bg_images:
				type: image_advanced

	page:
		title: Příspěvky
		post_types:
			- page
		context: side
		fields:
			page_posts:
				type: text

	pf:
		title: Fotky
		templates:
			- template-2048
		fields:
			images:
				type: image_advanced

	seventh:
		title: Podnadpis
		post_types:
			- page
		context: side
		fields:
			subtitle:
				type: text


	six:
		title: Cover
		post_types:
			- events
			- page
		context: side
		fields:
			cover_image:
				type: image_advanced
				max_file_uploads: 1
			cover_position:
				name: Zarovnat
				type: button_group
				std: middle
				options:
					top: Nahoru
					middle: Do prostřed
					bottom: Dolů


