#
# Requires MetaBox plugin: http://metabox.io/
#

prefix: pm_

register:
	one:
		title: Data
		context: normal
		post_types: events
		fields:
			start_date:
				name: Začátek
				type: datetime
			end_date:
				name: Konec
				type: datetime
			position:
				name: Mapa
				type: post
				post_type: maps

	two:
		title: Přihlašování
		post_types: events
		fields:
			register_to:
				name: Uzávěrka
				type: date
			additional_fields:
				name: Další pole formuláře
				type: repeater
				fields:
					label:
						name: popisek
					type:
						name: typ
						type: select
						options:
							text: text
							textarea: textarea
							radio: radio
							checkboxlist: checkboxlist
					message:
						name: Chybová zpráva
						desc: Pouze pokud má být pole povinné.
					options:
						name: Možnosti
						type: repeater
						desc: Pouze u radio a checkboxlistu.
						fields:
							value:
								type: text


	three:
		title: Kronika
		post_types: events
		fields:
			hashtag:
				name: 'Facebook hashtag'
				type: text
			google_photos_album:
				name: Fotky google album
			article:
				name: Zápis
				type: wysiwyg
			images:
				name: Fotky
				type: image_upload

	four:
		title: Mapa
		post_types: maps
		fields:
			position:
				name: Mapa
				type: textarea

	five:
		title: Pozice
		context: side
		post_types: som
		fields:
			position:
				type: radio
				inline: false
				options:
					chairman: předseda
					vice-chairman: místopředseda
					member: člen
					ex-member: bývalý člen

	fb-settings:
		title: Facebook API
		settings_pages:
			- fb-settings
		fields:
			fb_app_id:
				name: App ID
			fb_app_secret:
				name: App Secret
			fb_page_id:
				name: Page ID
			fb_access_token:
				name: Access Token

	site-background:
		title: Pozadí stránky
		settings_pages:
			- appearance-settings
		fields:
			bg_images:
				type: image_advanced

	page:
		title: Příspěvky
		post_types:
			- page
		context: side
		fields:
			page_posts:
				type: type

	pf:
		title: Fotky
		templates:
			- template-2048
		fields:
			images:
				type: image_advanced

