#
# Requires MetaBox plugin: http://metabox.io/
# and mb-settings-page (paid plugin, ask someone)
#

register:
	fb-settings:
		title: Facebook API
	appearance-settings:
		title: Pozadí
		parent: themes.php
