@brand: #417505;
@secret: #FF640D;
@blank: #fff;
@gray: #333;
@black: #000;
@text-background: rgba(255, 255, 255, 0.4);

.text-bacground {
  background-color: @text-background;
}

iframe {
  width: 100%;
}

.nahled p {
  font-size: 20px;
  font-weight: bolder;
  color: @blank;
  text-transform: uppercase;
  text-align: center;
}

.full {
  background: url("images/background.png") no-repeat center center fixed;
  background-size: cover;
}

body {
  background-color: transparent;
}

.container {
  margin-bottom: 20px;
}

a,
h1,
h2,
h3,
p {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  letter-spacing: 0.05em;
}

a {
  transition: color 0.25s ease-in-out;
  color: @gray;
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: @brand;
  }
}

.text {
  padding: 10px;
}

p.popis {
  color: @brand;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bolder;
}

.title {
  background-color: @brand;
  & h1,
  & h2 {
    color: @blank;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
  }
  & h1 {
    padding-top: 20px;
    letter-spacing: 0.4em;
    padding-left: 7px;
    font-size: 20px;
  }
  & h2 {
    padding-bottom: 10px;
    font-size: 12px;
    letter-spacing: 0.1em;
  }
  & a {
    transition: background-color 0.25s ease-in-out;
    &:hover {
      background-color: @brand;
    }
    & &,
    & &:hover,
    & &:active,
    & &:visited {
      text-decoration: none;
    }
  }
  & .secret {
    background-color: @secret;
  }
  & img {
    margin-left: auto;
    margin-right: auto;
  }
  & .menu {
    padding: 0;
    & ul {
      list-style: none;
      margin: 0 20px;
      & li {
        text-align: center;
        border-top: white solid 2px;
        & a {
          line-height: 1.5em;
          display: block;
          color: @blank;
          font-size: 20px;
          font-variant: small-caps;
        }
      }
    }
  }
}

.links {
  margin-top: 20px;

  & {
    list-style: none;
    padding: 0;
    color: @brand;

    & li {
      text-align: center;
      border-left: solid rgba(59, 129, 0, 0.68) 2px;
      border-right: solid rgba(59, 129, 0, 0.68) 2px;
      border-top: solid rgba(59, 129, 0, 0.68) 1px;
      border-bottom: solid rgba(59, 129, 0, 0.68) 1px;

      & a {
        transition: background-color 0.25s ease-in-out;
        line-height: 1.5em;
        display: block;
        color: @black;
        font-variant: small-caps;
        font-weight: bold;
        background-color: @text-background;

        &:hover {
          background-color: @brand;
        }

        &,
        &:hover,
        &:active,
        &:visited {
          text-decoration: none;
        }
      }
    }
  }

  & p {
    margin: 0;
    font-size: 7px;
    color: @brand;
    text-align: center;
    position: relative;
    bottom: 10px;

    & a {
      color: @brand;

      &:hover {
        color: @gray;
        background-color: @text-background;
      }

      &,
      &:hover,
      &:active,
      &:visited {
        text-decoration: none;
      }
    }
  }
}

.invitation {
  & img {
    margin-top: 20px;
  }
  & .text {
    background-color: @text-background;
    margin-top: 20px;
  }
  &-cards {
    margin-top: 20px;

    & img {
      margin: 0 0 10px 0;
    }
  }
}

.map {
  margin-top: 20px;
  height: 250px;
}

.form {
  border-top: solid @brand 1px;
  border-bottom: solid @brand 1px;
  border-right: solid @brand 2px;
  border-left: solid @brand 2px;
  background-color: @text-background;
}

.fb {
  border: solid @black 1px;
}

.calendar {
  margin-top: 20px;
  font-weight: bolder;

  & .name {
    text-align: right;
    background-color: @text-background;
    width: 130px;
    margin: 2px;
    padding: 2px 5px;
  }

  & .date {
    color: @black;
    text-align: center;
    background-color: @text-background;
    padding: 2px 5px;
    width: 100px;
    margin: 2px 2px;
  }

  & .popis {
    position: relative;
    left: -14px;
  }
}

.book {
  height: 300px;
  background-color: @text-background;
}

.content-som {
  padding: 1em;
  margin-top: 20px;
  background-color: @text-background;

  & img {
    float: left;
    margin-right: 1em;
  }

  & strong {
    background-color: transparent;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
  }
}

.single {
  & .text {
    background-color: @text-background;
    margin-top: 20px;
  }
  & .image {
    margin-top: 20px;
  }
}

.drive {
  margin-top: 20px;
  background-color: @text-background;
}

.vtajne {
  a {
    &:hover, &:link, &:visited {
      text-decoration: none;
    }

    &:hover {
      color: @secret;
    }
  }
}
