.text-bacground {
  background-color: @text-background;
}

iframe {
  width: 100%;
}

.nahled p {
  font-size: 20px;
  font-weight: bolder;
  color: @blank;
  text-transform: uppercase;
  text-align: center;
}

.full {
  background: url("images/background.png") no-repeat center center fixed;
  background-size: cover;
}

body {
  background-color: transparent;
}

.container {
  margin-bottom: 20px;
}

a,
h1,
h2,
h3,
p {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  letter-spacing: 0.05em;
}

a {
  transition: color 0.25s ease-in-out;
  color: @gray;
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: @brand;
  }
}

.text {
  padding: 10px;
}

p.popis {
  color: @brand;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bolder;
}

.invitation {
  & img {
    margin-top: 20px;
  }
  & .text {
    background-color: @text-background;
    margin-top: 20px;
  }
  &-cards {
    margin-top: 20px;

    & img {
      margin: 0 0 10px 0;
    }
  }
}

.map {
  margin-top: 20px;
  height: 250px;
}

.form {
  border-top: solid @brand 1px;
  border-bottom: solid @brand 1px;
  border-right: solid @brand 2px;
  border-left: solid @brand 2px;
  background-color: @text-background;
}

.fb {
  border: solid @black 1px;
}


.book {
  height: 300px;
  background-color: @text-background;
}

.content-som {
  padding: 1em;
  margin-top: 20px;
  background-color: @text-background;

  & img {
    float: left;
    margin-right: 1em;
  }

  & strong {
    background-color: transparent;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10px;
  }
}

.single {
  & .text {
    background-color: @text-background;
    margin-top: 20px;
  }
  & .image {
    margin-top: 20px;
  }
}

.drive {
  margin-top: 20px;
  background-color: @text-background;
}

.vtajne {
  a {
    &:hover, &:link, &:visited {
      text-decoration: none;
    }

    &:hover {
      color: @secret;
    }
  }
}
