.invitation
	&-image
		&.view-empty
			text-align center
			padding 3rem 0
			border solid 1px $brand



	&-title, &-subtitle
		color $brand
		margin 1rem


	&-title
		font-size 3.5rem


	&-subtitle
		font-size 2rem


	&-text
		background-color $text-background


	&-link
		margin-bottom 50px
		img
			width 100%



