.list
	border-collapse collapse
	margin-bottom 5rem

	&-container
		overflow-x scroll

	&-head
		&-col
			white-space nowrap

	&-item
		position relative
		width 100%
		vertical-align top
		line-height 1.2em
		padding-top 0.2em
		padding-bottom @padding-top
		border-bottom 1px solid alpha($brand, 0.2)

		&.view-facebook .list-date:before
			content ''
			display inline-block
			absolute top 50% left 0
			size 1rem
			background url('../images/messenger.svg') center center / contain no-repeat
			transform translate(-0.5rem, -50%)


	&-col
		position relative
		padding 0.2em 1em

	&-number
		font-weight bold
		color $brand

	&-date
		white-space nowrap
		font-size 0.8rem


	&-som
		font-size 0.6rem
		font-weight bold
		letter-spacing -0.2em
