.list
	&-item
		position relative
		width 100%

		&.facebook .list-datebefore
			content ''
			display inline-block
			position absolute
			top 50%
			left 0
			width 1rem
			height 1rem
			background url('images/messenger.svg') center center / contain no-repeat
			transform translate(-0.5rem, -50%)



	&-col
		position relative
		padding 0.2em 1em


