.navigation
	&-list
		margin 0
		text-decoration none

	&-link
		display block
		color $text-color
		background-color $blank
		font-size 1.2rem
		font-variant small-caps
		text-decoration none
		text-align center
		line-height 1.5em
		margin-bottom 0.1rem
		border solid 1px $border
		transition color 300ms, background 300ms, border-color 300ms

		&:hover
			color $brand
			background-color #f3f7ef
			border-color $brand

		.navigation-item:first-of-type &
			border-radius $radius $radius 0 0

		.navigation-item:last-of-type &
			border-radius 0 0 $radius $radius

		.view-links &
			display flex
			justify-content center
			font-size 0.6rem
			margin-bottom 0
			padding 0.2em

		.view-links .navigation-item:hover + .navigation-item &
			border-top-color $brand

		.view-links .navigation-item:not(:last-of-type) &
			border-bottom none

	&-footer
		text-align center
		line-height 1em

		&-link
			font-size 0.5rem
			color $black
			margin 0.2em
			transition color 300ms
			text-decoration none

			&:hover
				color $brand
				text-decoration underline

	&.view-links
		margin 0

	@media $breakM.l
		&-burger
			absolute top 0 right 3%
			size 15% 100%
			display flex
			align-items center
