.navigation
	&-title
	&-subtitle
		color $brand
		font-weight bold
		letter-spacing 0.1em
		text-transform uppercase
		padding 0
		margin 0.2em 18% 0.2em 18%
		text-align center

	&-title
		font-size 1.4rem

	&-subtitle
		font-size 0.7rem
		margin-bottom 0.2em

	&-desc
		margin: 0.2em 0 0.7rem
		line-height 1em
		font-size 0.5rem
		padding 0 3em
		text-align center

	&-img
		padding-left 10px
		padding-right @padding-left
		display block

		svg
			size 100%
			fill $brand

	&-link
		transition background-color 0.25s ease-in-out
		background-color $blank
		text-decoration none

	.view-secret &
		background-color $secret

	&-menu
		margin 0
		padding 0

		&-list
			margin 0

			li
				text-align center
				margin-top 2px

				a
					display block
					color $text-color
					font-size 20px
					font-variant small-caps
					text-decoration none
					line-height 1.5em
					border solid 1px $border
					transition color 300ms, background 300ms

					&:hover
						color $brand
						background-color $blank
						text-decoration underline

				&:last-of-type
					a
						border-radius 0 0 $radius $radius

	&-links
		margin-top 20px

		&-list
			color $brand
			font-size 0.8rem
			margin 0
			list-style none

		&-item
			text-align center
			border solid $border 1px
			border-bottom none
			overflow hidden

			&:first-of-type
				border-radius $radius $radius 0 0

			&:last-of-type
				border-bottom solid $border 1px
				border-radius 0 0 $radius $radius

			a
				display block
				color $black
				background-color $text-background
				font-size 0.8rem
				font-variant small-caps
				line-height 1.5em
				transition background-color 0.25s ease-in-out
				text-decoration none

				&:hover
					color $brand
					background-color $blank
					text-decoration underline

	&-footer
		text-align center
		line-height 1em

		&-link
			font-size 0.5rem
			color $black
			margin 0.2em
			transition color 300ms
			text-decoration none

			&:hover
				color $brand
				text-decoration underline

	@media $breakM.l
		&-burger
			absolute top 0 right 3%
			size 15% 100%
			display flex
			align-items center

		&-menu
			&-list
				li
					a
						padding 0.5em


		&-img
			absolute top 0 left 3%
			size 15%
			padding 10px 0

			svg
				size 100%

				path
					fill $brand
					stroke $brand

		&-menu
			&-list
				li
					&:first-of-type
						a
							border-radius $radius $radius 0 0

		&-top
			fixed	top 0	left 0
			z-index 50
			width 100vw
			padding 0.5rem
			background-color $blank
			box-shadow 0 2px 4px 0 rgba(0,0,0,0.08)



	@media $break.l
		&-burger
			display none

		&-top
			border solid 1px $border
			border-radius $radius $radius 0 0
			transition background 300ms

			&:hover
				background-color $blank

		&-title
		&-subtitle
			margin 0.5em 0
			width 100%
