.navigation
	&-title
	&-subtitle
		color $brand
		font-weight bold
		letter-spacing 0.1em
		text-transform uppercase
		padding 0
		margin 0.2em 18% 0.2em 18%
		text-align center

	&-title
		font-size 2rem

	&-subtitle
		font-size 0.7rem

	&-img
		padding 10px
		display block

		svg
			size 100%
			fill $brand

	&-link
		transition background-color 0.25s ease-in-out
		background-color $blank

		&
		&:hover
		&:active
		&:visited
			text-decoration none

	.view-secret &
		background-color $secret

	&-burger
		absolute top 0 right 3%
		size 15% 100%
		display flex
		align-items center

	&-menu
		margin 0
		padding 0

		&-list
			margin 0

			li
				text-align center
				margin-top 2px

				a
					display block
					color $brand
					font-size 20px
					font-variant small-caps
					text-decoration none
					line-height 1.5em
					border solid 1px $border
					transition color 300ms, background 300ms

					&[rel='home']
						display none


					&:hover
						background $brandHover

				&:last-of-type
					a
						border-radius 0 0 $radius $radius

	&-links
		margin-top 20px

		&-list
			color $brand
			font-size 0.8rem
			margin 0

		&-item
			text-align center
			border solid $border 1px
			border-bottom none

			&:first-of-type
				border-radius $radius $radius 0 0

			&:last-of-type
				border-bottom solid $border 1px
				border-radius 0 0 $radius $radius

			a
				display block
				color $black
				background-color $text-background
				font-variant small-caps
				font-weight bold
				line-height 1.5em
				transition background-color 0.25s ease-in-out

				&:hover
					background-color $brandHover

	&-footer
		&-link
			font-size 0.5rem
			color $brand
			text-align center
			position relative
			margin 0.2rem

			a
				margin 0 0.2rem
				padding 0.1em 0.5rem
				border-radius 1em
				transition background-color 300ms

				&:hover
					color $gray
					background-color fade($brand, 50)

	@media $breakM.m
		&-img
			absolute top 0 left 3%
			size 15%
			padding 10px 0

			svg
				size 100%

				path
					fill $brand
					stroke $brand

		&-menu
			&-list
				li
					&:first-of-type
						a
							border-radius $radius $radius 0 0

		&-top
			fixed	top 0	left 0
			z-index 50
			width 100vw
			padding 0.5rem
			background-color $blank
			box-shadow 0 2px 4px 0 rgba(0,0,0,0.08)



	@media $break.m
		&-top
			border solid 1px $border
			border-radius $radius $radius 0 0

		&-title
		&-subtitle
			padding 0.7rem 0
			margin 0
			width 100%
