.site-cover
	position relative
	size 100% 20rem
	overflow hidden

	&-img
		absolute top 0 right 0 left 0
		width 100%

	&-titles
		margin 0

	&-title
		display inline
		color $brand
		background-color $blank
		font-size 3rem
		margin-bottom 0.4rem
		text-decoration none
		line-height 1.3em

	&-sub
		color $blank
		background-color $brand
		font-size 1.6rem
		line-height 1.3em
		text-decoration none

	.container
		margin-top 5rem

	&.view-no-image
		height auto

	@media $breakM.l
		&-img
			height 100%
			object-fit cover

	@media $break.l
		&-img
			&.view-top
				top 0
			&.view-middle
				top -50%
			&.view-bottom
				bottom 0

		&-titles
			position absolute
			z-index 10
			top 6rem

		&-title
			font-size 4rem

