.summary
	margin-top 0.5rem
	margin-right 3rem

	&-container
		display flex

	&-head
		vertical-align top
		padding-right 0.4em

		&-icon
			margin-right 0.4em

	&-cell
		padding-left 1em

		&.view-success
			color $brand

		&.view-error
			color $error
