.calendar {
  margin-top: 20px;
  font-weight: bolder;
  width: 100%;

  &__name {
    text-align: right;
    background-color: @text-background;
    margin: 2px;
    padding: 2px 5px;
  }

  &__date {
    color: @black;
    text-align: left;
    background-color: @text-background;
    padding: 2px 5px;
    margin: 2px 2px;
  }

  &__popis {
    position: relative;
    left: -14px;
  }
}
