.calendar {
  width: 100%;

  &__list {
    width: 100%;
    font-size: 0;
    border-radius: @radius;
    overflow: hidden;
    border: solid 1px @brand;
  }

  &__name, &__date {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5em 1em;
  }

  &__name {
    text-align: right;
    width: 60%;
  }

  &__date {
    color: @blank;
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: left;
    background-color: @brand;
    width: 40%;
  }

  &__description{
    color: @brand;
    font-size: 0.8rem;
  }
}
