html, body {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

::selection {
  background: fade(@brand, 50);
}

iframe {
  width: 100%;
}

a {
  transition: color 0.25s ease-in-out;
  color: @brand;
  font-weight: bold;
  text-decoration: underline;

  &,
  &:active,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    color: @brand;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.title {
  font-size: 3rem;

  &__middle {
    font-size: 2.25rem;
  }
}



p.popis {
  color: @brand;
  margin-bottom: 0;
  font-weight: bolder;
}

.text {
  padding: 10px 0;
}

.center {
  text-align: center
}

.container {
  position: relative;
  right: 0;
  padding-top: 50px;
  padding-bottom: 100px;
  transition: right 300ms;
}

@media (max-width: 768px) {
  padding-top: 70px
}



