html, body {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

iframe {
  width: 100%;
}

a {
  transition: color 0.25s ease-in-out;
  color: @gray;
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: @brand;
  }
}

.title {
  font-size: 3rem;
}


p.popis {
  color: @brand;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bolder;
}

.text {
  padding: 10px;
}
