<!DOCTYPE html>

{default $activeLang = get_active_lang_code()}
{default $id = get_the_ID()}

<html lang="{$activeLang}">
<head>
	{include components/gtm/head.latte}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#417505">

	<title>{site_title()}</title>

	<meta name="description" content="{$Post|wp_meta:pm_page_descripiton}">

	{use_google_fonts([ 'Raleway:400,400i,500,500i&amp;subset=latin-ext'])}

	<link rel="stylesheet" href="{$assetsPath}/styles/{$buildstamp}index.css" media="screen">
	<link rel="stylesheet" href="{$assetsPath}/styles/{$buildstamp}print.css" media="print">

	{* <link rel="shortcut icon" type="image/x-icon" href="{$basePath}/favicon.ico"> *}
	<link rel="icon" type="image/png" href="{$assetsPath}/images/favicon.png?v=2" sizes="16x16">
	<link rel="icon" type="image/png" href="{$assetsPath}/images/favicon-32x32.png?v=2" sizes="32x32">

	<!--[if lt IE 9]>
	<link rel="stylesheet" href="{$assetsPath}/styles/{$buildstamp|noescape}oldie.css" media="screen">
	<script src="{$assetsPath}/node_modules/lt-ie-9/lt-ie-9.min.js"></script>
	<![endif]-->

	{block head}{/block}

	<script>
		initComponents = []
	</script>

	{wp_head()}

</head>
<body {body_class()}>

	{include components/gtm/body.latte}

	{$mangoSnippet}

	<input type="checkbox" class="burger-check" id="burger-check">

	{include components/burger.latte}

	<div id="parallax-container" n:class="site-cover, !($id|wp_meta:pm_cover_image) ? 'view-no-image'" n:if="get_page_template_slug() !== 'template-registerlist.php'">
		<div id="parallax-title" class="site-cover-in container">
				<h1 class="site-title site-cover-titles">
					<span class="site-cover-title">{$id|wp_title}</span><br>
					<span class="site-cover-sub">{$id|wp_meta:pm_subtitle}</span>
					<span class="site-cover-sub" n:if="get_post_type($id) == 'events'">{$id|daterange}{if ($id|wp_meta:pm_position)}, {$id|wp_meta:pm_position|wp_title}{/if}</span>
				</h1>
		</div>
		<img n:if="($id|wp_meta:pm_cover_image)" id="parallax-image" n:class="site-cover-img, 'view-' . meta($id, pm_cover_position)" src="{$id|wp_meta:pm_cover_image|wp_image:cover}" srcset="{wp_get_attachment_image_srcset(($id|wp_meta:pm_cover_image))|noescape}" alt="">
	</div>

	{if is_user_logged_in()}
		{include components/admin-navigation.latte nav => $admin_navigation}
	{/if}

	{block content}{/block}

	{block scripts}
		{analytics()}
		<script src="{$assetsPath}/scripts/{$buildstamp}index.js" defer></script>
	{/block}

	{wp_footer()}

</body>
</html>
